.flex-container {
  display: flex;
  flex-direction: column;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  margin-top:5px;

  &>button {
    margin-right: 5px;
  }
}

.mat-form-field {
  margin: 4px 0 ;
}
