<!-- <section class="content">
  <mat-sidenav-container>
      <mat-sidenav #sideNav  >
        <perfect-scrollbar style="width: 100%; max-height: calc( 100vh - 64px );" [config]="">
          <mat-expansion-panel [expanded]="panel.routerFlag == currentModuleRouter" *ngFor="let panel of sideNavData">
            <mat-expansion-panel-header [expandedHeight]="'35px'" [collapsedHeight]=" '35px' ">
              <mat-panel-title>
                <mat-icon style="color: gray">{{panel.header.icon}}</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                {{panel.header.description}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item *ngFor="let list of panel.lists" routerLinkActive="active" [routerLink]="[list.link]">{{list.linkTitle}}</mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </perfect-scrollbar>
      </mat-sidenav>

      <mat-sidenav-content>
        <perfect-scrollbar style="width: 100%; max-height: calc( 100vh - 64px );" [config]="">
          <router-outlet></router-outlet>
        </perfect-scrollbar>
      </mat-sidenav-content>
    </mat-sidenav-container>
</section> -->
