
<nav>
  <mat-toolbar>
    <ng-content select="mat-progress-bar"></ng-content>
    <ng-content select=".toggle-button" ></ng-content>
    <div class="logo-wrap" >
      <a routerLink="/">
        <ng-content select=".logo"></ng-content>
      </a>
    </div>
    <div class="menu-wrap" *ngIf="userLogged">
      <a class="navbar-hide-small" mat-button *ngFor="let key of navMenu"
       [routerLink]="key.link">{{key.des}}</a>
    </div>
    <div class="flex-spacer"></div>
     <ng-content select="app-control-panel-picker"></ng-content>
  </mat-toolbar>
</nav>

<nav class="navbar-show-small" *ngIf="userLogged">
  <div class= "flex-wrap">
      <a mat-button class="docs-navbar-link"
      *ngFor="let key of navMenu"
      [routerLink]="key.link">{{key.des}}</a>
  </div>
</nav>

